* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

header {
    background-color: white;
}

.logo-1 img {
    height: 40px;
    width: auto;
    display: block;

}

nav {
    margin-top: 200px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-left: auto;
    max-width: 1200px;
    padding: 0;
    align-items: center;
}

ul {
    background-color: none;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 25px;
}

ul li {
    color: #4b5563;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.cmn-btn {
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 22px;
    margin: auto;
    margin-right: 40px;

}

.hero-section-parent {
    margin-top: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    height: 26rem;
    width: 100%;
    max-width: 1552px;
    height: 786px;

}

.write {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.write h1{
font-size: 3.5rem;
font-weight: 700;
margin-bottom: 10px;
margin-top: 1rem;
}

.write h1 em {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1px;
}
.write p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 600px;              
    color: #e5e7eb;
    margin-bottom: 8rem;
}

.hero-btn
{
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-weight: 600;
    padding: 14px 32px;
    margin: 0 auto;
    width: fit-content;
    margin-top: 4rem;
}

section h1{
    color: black;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 40px;
}

.guest-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto 80px auto;
    padding: 0 20px;
}

.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding-bottom: 24px;
}

.card .img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}
.card .role{
    color:#2563eb;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .5px;
    margin: 24px 24px 8px 24px;
}

.card .name{
    font-size: 1.25rem;
    font-weight: 700;
    color: #111827;
    margin: 0 24px 8px 24px;
}

.card .comp {
    font-size: 14px;
    color: #6b7280; 
    margin: 0 22px 8px 20px;  
}